*{
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
  
}

#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #57626F;
  border-right: 4px solid #E0E5EA;
  left: -250px;
}
#sidebar.active {
  left: 0px;
}

#sidebar ul li:first-child  {
  text-align: center;
  color: white;
  font-size: 1.95em;
  list-style: none;
  padding: 25px 10px 10px 11px;
  
}
#sidebar ul li:not(first-child)  {
  width: 90%;
  margin-left: 10%;
  color: red;
  font-size: 1.1em;
  list-style: none;
  padding: 15px 10px 10px 11px;
  
}
#sidebar ul li a {
  color: #dfe5eb;
  text-decoration: none;
}

#sidebar ul li a:hover {color: #59e9df}

#sidebar .toggle-btn {
  position: absolute;
  left: 270px;
  top: 20px;
  background: #E0E5EA;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

#sidebar .toggle-btn:hover {background: #556270}
#sidebar .toggle-btn:hover span {background: #fafafa}
#sidebar .toggle-btn span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #666;
  margin: 4px 0;
  
}
.six {
  background: #F7E2C7;
  padding: 50px 20px;
  text-align: center;
}
.six h1 {
  font-weight: normal;
  font-family: 'Merriweather', serif;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  color: #F7844E;
  font-size: 40px;
  padding: .4em 1em .55em;
}
.six h1:before,
.six h1:after {
  content: ""; 
  position: absolute;
  width: 60%;
  height: .1em;
  background: #294200; 
}
.six h1:before {
  left: 0;
  top: 0;
}
.six h1:after {
  right: 0;
  bottom: 0;
}
.six h1 span:before,
.six h1 span:after {
  content: ""; 
  position: absolute;
  width: .65em;
  height: .65em;
  border: .1em solid #294200;
  border-radius: 50%;
  box-sizing: border-box;
}
.six h1 span:before {
  top: -.55em;
  left: -.325em;
}
.six h1 span:after {
  bottom: -.55em;
  right: -.325em;
}
@media (max-width: 600px) {
  .six h1 {font-size: 2em;}
}
@media (max-width: 450px) {
  .six h1 {font-size: 1.5em;}
}
