*{
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
  
}

#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #57626F;
  border-right: 4px solid #E0E5EA;
  left: -250px;
}
#sidebar.active {
  left: 0px;
}

#sidebar ul li:first-child  {
  text-align: center;
  color: white;
  font-size: 1.95em;
  list-style: none;
  padding: 15px 10px 10px 11px;
  
}
#sidebar ul li:not(first-child)  {
  width: 90%;
  margin-left: 10%;
  color: red;
  font-size: 1.1em;
  list-style: none;
  padding: 15px 10px 10px 11px;
  
}
#sidebar ul li a {
  color: #dfe5eb;
  text-decoration: none;
}

#sidebar ul li a:hover {color: #59e9df}

#sidebar .toggle-btn {
  position: absolute;
  left: 270px;
  top: 20px;
  background: #E0E5EA;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

#d h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
  rgb(18, 83, 93) , 
  rgb(18, 83, 93) 20px, 
  rgb(64, 111, 118) 20px, 
  rgb(64, 111, 118) 40px, 
  rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;}
#d p{
  color:#7B68EE;
  -webkit-background-clip: text;
  position: relative;}
  
#sidebar .toggle-btn:hover {background: #556270}
#sidebar .toggle-btn:hover span {background: #fafafa}
#sidebar .toggle-btn span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #666;
  margin: 4px 0;
  
}

